body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 1fr 3fr 1fr / auto auto auto;
  }
  
  header {
    background: rgb(1, 37, 90);

    grid-column: 1 / 4;
    color: white;
  }

  .modern a {
	flex: 1 1 100%;
  }

  .navigation {
	list-style: none;
	display: flex;
	background-color: #333;
	align-items: center;
  }
  .navigation a {
    flex: 1;
	display: flex;
    justify-content: center;
    align-items: center;
	color: #eee;
	padding: 0.5rem;
	text-decoration: none;
	text-align: center;
  }
  .navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
  
.navigation {
    display: flex;
    background: rgb(24, 30, 32); 
    grid-column: 1 / 4;
    width: 100%;
  }

  main {
    background: rgb(151, 200, 240);
    grid-column: 1 / 3;
    padding: 1rem;
    min-height: auto;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  .right-sidebar {
    padding: 1rem;
  }
  