@media only screen and (min-width: 40em) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .hero picture {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    section {
        background-color: white;
        opacity: 0.7;
        color: black;
        margin: 20px;
    }

    .data {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        padding: 30px;
    }

    .weather {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        padding: 30px;
    }

    section h2{
        background-color: var(--mexican-green);
        padding: 10px;
        color: white;
        margin-left: -50px;
    }

    .weatherh2::after {
        content: '⛅';
    
    }

    .weather img {
        display: none;
    }
 
    
}